<a href="https://colab.research.google.com/github/Navami-Nair/Basic-Python-for-Machine-Learning/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print() function

In [15]:
print('Hello World')
a=10
print('Value of a is',a) #A space is added between string and variable 
print(1,2,3,4,5,sep='*',end='%') #sep is added btw each value: default sep is space; end is added after all values: default is new line
x=5
y=20
print('\nThe value of x is {} and value of y is {}'.format(x,y)) #Formatting strings: str.format() method: visible to any string object 
print('The value of x is {} and value of y is {}'.format(10,20))
print('The value of x is {0} and value of y is {1}'.format('Mango','Apple'))
print('The value of x is {1} and value of y is {0}'.format('Mango','Apple'))
print('Hello {name}, {greeting}'.format(name='Ann',greeting='Nice to meet you'))
#r=12.3456789
#print('Value of r is %3.2f',%r)

Hello World
Value of a is 10
1*2*3*4*5%
The value of x is 5 and value of y is 20
The value of x is 10 and value of y is 20
The value of x is Mango and value of y is Apple
The value of x is Apple and value of y is Mango
Hello Ann, Nice to meet you

Sum of two numbers

In [20]:
a=12
b=24
sum=a+b
print("The sum of numbers is: ",sum)
#print(int('2+3')) #gives error as it is a string
print(eval('5+9'))

The sum of numbers is:  36
14

Input from user

In [ ]:
a=int(input("Enter the first number: ")) #input reads value as string, int() is used to convert it to integer

Enter the first number: 20

In [ ]:
b=int(input("Enter the second number: "))

Enter the second number: 56

In [ ]:
sum=a+b
print(sum) #when input used without type conversion

2056

In [ ]:
sum=a+b
print(sum)

76

type() and isinstance()

In [ ]:
a=10
print(type(a)) #to know the type of a variable or value
print(type(4.2))

<class 'int'>
<class 'float'>

In [ ]:
b=1+2j
print(isinstance(b,complex))

True

List

In [ ]:
l1=[1,'apple',24,'orange'] #list values can be of any datatype
print(l1)

[1, 'apple', 24, 'orange']

In [ ]:
print(l1[2]) #list slicing
print(l1[1:3])
print(l1[2:])

24
['apple', 24]
[24, 'orange']

In [ ]:
l1[2]='red' #lists are mutable : values can be altered
print(l1)

[1, 'apple', 'red', 'orange']

Tuple

In [ ]:
t1=(1,'hi',3,'hello') #any datatype values are possible
print(t1[0:2]) #slicing possible
print(t1)

(1, 'hi')
(1, 'hi', 3, 'hello')

In [ ]:
t1[2]=0 #gives error sincce tuples cannot be changed once created
print(t1)

TypeError: ignored

String

In [ ]:
s2='Hello world' #immmutable, '' or "" are used
print(s2)
print(s2[5:]) #slicing possible

Hello world
 world

Set 

```
# This is formatted as code
```

In [ ]:
s1={1,2,3,2,5.0,2,5} #unordered collection of unique items, no slicing possible
print(s1) #union, intersection operations are possible

{1, 2, 3, 5.0}

Dictionary

In [ ]:
d={1:'aaple',2:'orange',3:'kiwi'} #key value pairs, value can be retrieved using key and not vice versa
print (d)
print(d[3])

{1: 'aaple', 2: 'orange', 3: 'kiwi'}
kiwi

In [ ]:
print(d['kiwi']) #kiwi is not a key so produces error

KeyError: ignored

Datatype conversion

In [ ]:
print(float(1))
print(str(100))
print(list('mango'))
print(tuple([1,2,3]))
print(dict([[1,2],[3,4]]))
print(set([1,2,3]))

1.0
100
['m', 'a', 'n', 'g', 'o']
(1, 2, 3)
{1: 2, 3: 4}
{1, 2, 3}

Python import:-
When our program grows bigger, it is a good idea to break it into different modules.

A module is a file containing Python definitions and statements. Python modules have a filename and end with the extension .py.

Definitions inside a module can be imported to another module or the interactive interpreter in Python. We use the import keyword to do this.
While importing a module, Python looks at several places defined in sys.path. It is a list of directory locations.

In [1]:
import math #Now all the definitions inside math module are available in our scope
print('Value of pi is:',math.pi)

Value of pi is: 3.141592653589793

In [2]:
from math import pi #We can also import some specific attributes and functions only, using the from keyword.
print('Value of pi is:',math.pi)

Value of pi is: 3.141592653589793